/* @tailwind base; */
@tailwind components;
@tailwind utilities;

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 200px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
